.input-group.general-input-group
  %label.input-label Enter Your Coupon Code
  %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code "}
  %div
    %button.btn.btn-primary.mr-5.mb-15 Apply Coupon
