- if current_cart.coupon
  %h3 Already passed
- else
  = simple_form_for :coupon, url: coupon_path, method: :put do |f|
    = f.input :code, label: 'enter your coupon', input_html: { class: 'form-control mb-30' }, label_html: { class: 'input-labe' }, placeholder: 'Enter your coupon code', type: 'text'
    = f.button :submit, 'Apply coupon', class: 'btn btn-primary mb-30'
