.row
  .col-sm-5
    .general-img-wrap
      %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
  .col-sm-7
    .mb-60
      %h1= book.title
      %p.lead= book.description
      %p.lead.small= book.authors.name
      .general-align
        %button.disabled.btn= t('.buy_now_button')
