.col-sm-5
  %p.in-gold-500.font-18.mb-25 Email
  .general-form-md
    = simple_form_for email, as: :user, url: update_user_email_path, method: :put do |f|
      .form-group.mb-35
        = f.input :email,
          label: 'Enter email',
          input_html: { id: 'email', class: 'form-control' }, 
          label_html: { class: 'control-label input-label' }, 
          placeholder: "Enter your email", type: 'email'
      .general-text-align
        = f.button :submit, 'Save', class: 'btn btn-default mb-35'
