%ul.steps.list-inline
  -Order.stages.each do |stage, value|
    %li.step{ class: ('active' if stage == current_order.stage) }
      %span.step-number= value + 1
      %span.step-text.hidden-xs= stage.capitalize
    - unless Order.stages.to_a.last[0] == stage
      %li.step-divider
